
.jumbotron {
    background-color: #343a40;
    height: 85%;
    margin-left: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.username-text {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.header {
    color: white;
    padding-bottom: 25px;
    text-align: center;
}
