<div class="border-right" style="height: 100%; padding-top: 20px; padding-left: 10px;">  
    <form>
        <div class="row" style="margin-bottom: 10px;">
            <div class="input-group" style="text-align: center; width: 300px; padding-left: 25px; padding-right: 25px;">
                <input type="text" class="form-control" [(ngModel)]="groupToJoin" name="groupToJoin" placeholder="Enter Group" aria-label="Enter Group" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-success" type="button" (click)="joinGroup()" id="button-addon2">Join</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="input-group" style="width: 300px; padding-left: 25px; padding-right: 25px">
                <select class="custom-select" id="inputGroupSelect04" [(ngModel)]="groupToJoin" name="groupToJoin" aria-label="Example select with button addon">
                    <option selected>Select Group</option>
                    <option *ngFor="let group of groups">{{group}}</option>
                </select>
                <div class="input-group-append">
                    <button class="btn btn-outline-success" type="button" (click)="joinGroup()">Submit</button>
                </div>
            </div>
        </div>
    </form>
    
    <div class="dropdown-divider" [ngStyle]="{'stroke': (getUserTheme() == 'Light') ? 'black' : 'white'}"></div>
    
    <h3 class="header" [ngStyle]="{'color': (getUserTheme() == 'Light') ? 'black' : 'white'}">
        Users in Group {{getCurrentGroupOfUser()}}
    </h3>

    <div *ngFor="let user of getUsersInChatGroup()">
        <div class="row-container">
            <div class="row">
                    <div [className]="(getUserTheme() == 'Light') ? 'username-text alert alert-secondary col-md-10 offset-1' :
                                      (getUserTheme() == 'Blue') ?  'username-text alert alert-primary col-md-10 offset-1' :
                                      'username-text alert alert-light col-md-10 offset-1'">
                        {{user}}
                    </div>
            </div> 
        </div>
    </div>
</div>              
