.jumbotron {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

form {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.img-container {
    width: 100%;
    text-align: center;
}

.img-logo {
    margin-bottom: 50px;
}

button {
   width: 100%; 
   margin-top: 50px;
}

.make-account-prompt {
    text-align: center;
    margin-top: 35px;
}