<div #scroller class="jumbotron col-md-8 h-90 offset-3 fixed-bottom overflow-auto" style="background-color: #343a40; height: 85%; padding-bottom: 100;">

        <div *ngFor="let message of _messagingService.messages">
                <div class="row">
                        <div [className]="messageBelongsToUser(message) ? 'username-text alert alert-success col-md-2' : 'username-text alert alert-primary col-md-2'">
                                {{message.user}} 
                                <p class="timestamp">{{message.timestamp}}</p>
                        </div>
                        <p class="col-md-10">{{message.messageText}}</p>
                </div> 
        </div>

</div>