
<div #scroller class="mat-card fixed-bottom" [ngStyle]="{'background-color': (getUserTheme() == 'Light') ? '#E4E4E4' : 
                (getUserTheme() == 'Blue') ? '#2F2FA2' : '#343a40' }">

        <div class="sticky-top users-group">
                <app-users-group></app-users-group>
        </div>
        <!-- type="button" class="btn btn-outline-secondary mr-2" -->
        <div *ngFor="let message of getUserMessages()" style="margin-left: 325px;">
                <div class="upvote-button-container">
                        <button mat-raised-button color="primary" style="margin-right: 5px; margin-left: 150px;" (click)="likeMessage(message.messageID)">
                                <i class="far fa-thumbs-up" 
                                        [ngStyle]="{'color': (getLikeCountForMessage(message.messageID) > 0) ? '#282828': 'white'}">
                                        {{getLikeCountForMessage(message.messageID)}}
                                </i>
                        </button>
                        <button mat-raised-button color="accent" style="margin-right: 5px;" (click)="loveMessage(message.messageID)">
                                <i class="far fa-heart"
                                        [ngStyle]="{'color': (getLoveCountForMessage(message.messageID) > 0) ? '#282828': 'white'}">
                                        {{getLoveCountForMessage(message.messageID)}}
                                </i>
                        </button>
                        <button mat-raised-button color="warn" style="margin-right: 5px;" (click)="hateMessage(message.messageID)">
                                <i class="far fa-angry"
                                        [ngStyle]="{'color': (getHateCountForMessage(message.messageID) > 0) ? '#282828': 'white'}">
                                        {{getHateCountForMessage(message.messageID)}}
                                </i>
                        </button>
                </div>

                <button mat-raised-button color="primary" *ngIf="!showVotes" (click)="setShowVotes(true)">Show Votes</button>
                <button mat-raised-button color="primary" *ngIf="showVotes" (click)="setShowVotes(false)">Hide Votes</button>
                <p *ngIf="showVotes" style="color: #5680E9; display: inline-block; margin-left: 5px; margin-bottom: 0px; padding: 0px;">{{getLikedBy(message.messageID)}}</p>
                <p *ngIf="showVotes" style="color: #F64C72; display: inline-block; margin-left: 5px; margin-bottom: 0px; padding: 0px;">{{getLovedBy(message.messageID)}}</p>
                <p *ngIf="showVotes" style="color: #FC4445; display: inline-block; margin-left: 5px; margin-bottom: 0px; padding: 0px;">{{getHatedBy(message.messageID)}}</p>

                <div class="row" style="margin-left: 10px; margin-top: 10px;">
                        <div [className]="getUserTheme() == 'Light' ? 
                                (messageBelongsToUser(message) ? 'username-text alert alert-dark shadow-lg p-2' :
                                'username-text alert alert-dark shadow-lg p-2') :
                                (messageBelongsToUser(message) ? 'username-text alert alert-dark shadow-lg p-2' :
                                'username-text alert alert-dark shadow-lg p-2')"
                        [ngStyle]="{'background-color': (getUserTheme() == 'Light') ? (messageBelongsToUser(message)) ? '#DDDEDF' : '#F4F4F4' : 
                                (getUserTheme() == 'Blue') ? (messageBelongsToUser(message)) ? '#190061': '#4056CC' : 
                                (messageBelongsToUser(message)) ? '#111010' : '#282828', 
                                'color': getUserTheme() == 'Light' ? '#343a40' : '#EEE2DC', 'text-align': 'center' }">
                                {{message.displayname}}
                                <p class="timestamp">{{message.timestamp}}</p>
                                <img src="{{getProfileImgUrl(message.displayname)}}" class="profile-image" width="100" height="100">
                        </div>

                        <p class="message-text col-md-9" #messageText
                        [ngStyle]="{'color': (getUserTheme() == 'Light') ? '#343a40' : '#EEE2DC', 'margin-left': '10px',
                                'background-color': (getUserTheme() == 'Light') ? (messageBelongsToUser(message)) ? '#DDDEDF' : '#F4F4F4' : 
                                (getUserTheme() == 'Blue') ? (messageBelongsToUser(message)) ? '#190061': '#4056CC' : 
                                (messageBelongsToUser(message)) ? '#111010' : '#282828' }">
                                {{message.messageText}}
                        </p>

                        <i *ngIf="messageBelongsToUser(message)" class="delete-button fas fa-trash-alt" 
                                [ngStyle]="{'color': (getUserTheme() == 'Light') ? 'black' : 'white'}"
                                (click)="openDeleteConfirmationDialog(message.messageID)"></i>
                        <i *ngIf="messageBelongsToUser(message)" class="edit-button fas fa-pencil-alt" 
                                [ngStyle]="{'color': (getUserTheme() == 'Light') ? 'black' : 'white'}"
                                (click)="openEditDialog(message)"></i>
                </div> 
        </div>
       
        <div>
                <app-chat-input></app-chat-input>
        </div>
</div>
